[Desktop Entry]
Comment=Dragonfly Navigator
TryExec=/usr/bin/dragonfly
Exec=/usr/bin/dragonfly
Icon=/usr/share/dragonfly/icons/dragonfly.png
Name=Dragonfly
Categories=Qt;System;FileTools;FileManager
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
